{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <title>{{ title }}</title>

    <link
      rel="icon"
      type="image/png"
      href="images/favicon/OSFF_favicon_light.png"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="images/favicon/OSFF_favicon_light.svg"
    />
    <style>

        {% include "css/critical.css" %}
      {# document.documentElement.classList.remove("no-js");
      document.documentElement.classList.add("js-active"); #}
    </style>

    {# Add facility for pages to delare an array of critical styles #} {% if
    pageCriticalStyles %} {% for item in pageCriticalStyles %}
    <style>
      {% include item %}
    </style>
    {% endfor %} {% endif %}
    <link
      rel="stylesheet"
      media="print"
      href="/fonts/fonts.css?{{ assetHash }}"
      onload="this.media='all'"
    />

    {# Add facility for pages to declare an array of stylesheet paths #} {% if
    pageStylesheets %} {% for item in pageStylesheets %}
    <link
      rel="stylesheet"
      media="print"
      href="{{ item }}?{{ assetHash }}"
      onload="this.media='all'"
    />
    {% endfor %} {% endif %}
  </head>
  <body>
    <div class="triangle" aria-hidden="true"></div>
    <div class="grid">
      {% include "partials/site-head.html" %}
      <main
        tabindex="-1"
        id="main"
        class="flow flow-space-400 md:flow-space-600"
      >
        {% block content %}{% endblock %}
      </main>
      {% include "partials/site-foot.html" %}
    </div>
    {% if bigLogo %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
    <script src="{{'/scripts/main-min.js' | url}}"></script>
    {% endif %}
  </body>
</html>
