{% extends "layouts/base.html" %} {% block content %}
<section id="claim" class="panel">
  <div class="panel__content | flow flow-space-600">
    <p class="text-600 lg:text-700 leading-tight">
      <strong>Breaking the Boundaries</strong>
      of the Hardware Industry by Leveraging Highly Innovative
      <strong>Open Source Firmware</strong>.
    </p>
  </div>
</section>
<section class="panel | bg-white">
  <div class="panel__content | flow flow-space-600">
    <p class="text-500 lg:text-600">
      The <strong>Open-Source Firmware Foundation (OSFF)</strong>
      is a non-profit organization with the overall goal to enhance
      communication between all parties involved in the open-source firmware
      space. The OSFF was founded in 2021 by a group of industry-leading
      companies in open-source firmware.
    </p>
    <p class="text-500 lg:text-600">
      The foundation sets its goals to
      <strong>research</strong> and to
      <strong>educate</strong>
      corporations and individuals alike about open-source firmware through
      sharing intellectual resources, infrastructure, services, events and
      training.
    </p>
    <p class="text-500 lg:text-600">
      The OSFF is meant to be an
      <strong>umbrella organization</strong>
      for all parties interested in open-source firmware and acts as the first
      point of contact in the open-source firmware ecosystem.
    </p>
    <div class="cluster">
      <div class="cluster-inner">
        <a
          href="slides/Open-Source-Firmware-Foundation_public.pdf"
          download="Open-Source-Firmware-Foundation.pdf"
          class="button"
        >
          Presentation Slides
        </a>
      </div>
    </div>
  </div>
</section>
<section class="panel">
  <div class="panel__content | flow flow-space-600">
    <h2 class="text-650 md:text-700 lg:text-800 panel__headline">
      Meet our Founding Members!
    </h2>
    <p class="text-500 lg:text-600">
      If you want to know more about the benefits being an OSFF Member, check
      out the
      <a
        href="slides/Open-Source-Firmware-Foundation_public.pdf"
        download="Open-Source-Firmware-Foundation.pdf"
        class="inline-link color-primary"
        >OSFF slides</a
      >
      .
    </p>
    <div class="wrapper">
      <ul class="auto-grid">
        <li>
          <figure class="polaroid polaroid--linked polaroid--logo | br-m">
            <a target="_blank" href="https://9esec.io/">
              <div class="aspect-ratio-square">
                <img
                  src="images/9e.svg"
                  alt="logo of 9elements cyber security"
                />
              </div>
            </a>
          </figure>
        </li>
        <li>
          <figure class="polaroid polaroid--linked polaroid--logo | br-m">
            <a target="_blank" href="https://mullvad.net/de/">
              <div class="aspect-ratio-square">
                <img src="images/mullvad.svg" alt="logo of mullvad" />
              </div>
            </a>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="leadership-team" class="panel">
  <div class="panel__content | flow flow-space-400">
    <h2 class="text-650 md:text-700 lg:text-800 panel__headline">
      Leadership Team
    </h2>
    <ul class="double-grid-switcher" style="--dgs-threshold-l: 52rem">
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/philipp-deppenwiese-40a357111/"
        >
          <figure class="polaroid polaroid--linked | br-m">
            <div class="aspect-ratio-square">
              <picture>
                <source
                  srcset="images/team/philipp-immune.webp"
                  type="image/webp"
                />
                <img
                  src="images/team/philipp-immune.jpg"
                  alt="Portrait of Philipp Deppenwiese"
                />
              </picture>
            </div>

            <figcaption>
              <span class="color-primary font-head weight-bold uppercase">
                Philipp Deppenwiese
                <br />
                Interim President
              </span>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/christian-walter-45588b8b/"
        >
          <figure class="polaroid polaroid--linked | br-m">
            <div class="aspect-ratio-square">
              <picture>
                <source
                  srcset="images/team/christian-walter.webp"
                  type="image/webp"
                />
                <img
                  src="images/team/christian-walter.jpg"
                  alt="Portrait of Christian Walter"
                />
              </picture>
            </div>
            <figcaption>
              <span class="color-primary font-head weight-bold uppercase">
                Christian Walter
                <br />
                Director / Finance
              </span>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/daniel-nierhauve-888051174/"
        >
          <figure class="polaroid polaroid--linked | br-m">
            <div class="aspect-ratio-square">
              <picture>
                <source
                  srcset="images/team/daniel-nierhauve.webp"
                  type="image/webp"
                />
                <img
                  src="images/team/daniel-nierhauve.jpg"
                  alt="Portrait of Daniel Nierhauve"
                />
              </picture>
            </div>
            <figcaption>
              <span class="color-primary font-head weight-bold uppercase">
                Daniel Nierhauve
                <br />
                Interim Director
              </span>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/kai-michaelis-60319a196/"
        >
          <figure class="polaroid polaroid--linked | br-m">
            <div class="aspect-ratio-square">
              <picture>
                <source
                  srcset="images/team/kai-immune.webp"
                  type="image/webp"
                />
                <img
                  src="images/team/kai-immune.jpg"
                  alt="Portrait of Kai Michaelis"
                />
              </picture>
            </div>
            <figcaption>
              <span class="color-primary font-head weight-bold uppercase">
                Kai Michaelis
                <br />
                Interim Director
              </span>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/martinlroth/"
        >
          <figure class="polaroid polaroid--linked | br-m">
            <div class="aspect-ratio-square">
              <picture>
                <source
                  srcset="images/team/martin-roth.webp"
                  type="image/webp"
                />
                <img
                  src="images/team/martin-roth.jpg"
                  alt="Portrait of Martin Roth"
                />
              </picture>
            </div>
            <figcaption>
              <span class="color-primary font-head weight-bold uppercase">
                Martin Roth
                <br />
                Secretary
              </span>
            </figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="panel | bg-primary pd-700">
  <div class="panel__content | flow flow-space-600">
    <h2 class="text-650 md:text-700 lg:text-800 panel_headline color-white">
      Be Part of it
    </h2>
    <p class="text-500 lg:text-600">
      The Foundation relies on your support. If you like to be part of the
      movement, get in contact with us and join our slack and newsletter.
    </p>
    <div class="cluster">
      <div class="inner-cluster">
        <a
          href="mailto:contact@opensourcefirmware.foundation"
          class="button button--white"
        >
          Get in contact with us 💜
        </a>
        <a
          target="_blank"
          href="https://slack.osfw.dev/"
          class="button button--white"
        >
          Join our Slack-Channel
        </a>
	<a
	  target="_blank"
	  href="https://lists.osfw.foundation/"
	  class="button button--white"
	>
	  Join our Mailing List
	</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
