{% extends "layouts/base.html" %} {% block content %}
<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-200">
      <h2>Press Kit</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus,
        eum ipsam. Animi aperiam voluptates sunt nihil, neque, rem dicta nam,
        amet aspernatur consequatur vel rerum fugit voluptas soluta fugiat ad
        expedita nulla? Ipsum expedita mollitia doloremque velit, officia iusto
        cumque suscipit dolorum quaerat architecto asperiores quidem dolore quae
        ratione doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus,
        eum ipsam. Animi aperiam voluptates sunt nihil, neque, rem dicta nam,
        amet aspernatur consequatur vel rerum fugit voluptas soluta fugiat ad
        expedita nulla? Ipsum expedita mollitia doloremque velit, officia iusto
        cumque suscipit dolorum quaerat architecto asperiores quidem dolore quae
        ratione doloribus. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Impedit, esse?
      </p>
    </div>
  </div>
</section>

{% endblock %}
