{% extends "layouts/base.html" %} {% block content %}
<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-400">
      <h2>{{ title }}</h2>
      <p>When: <span class="color-primary">{{date}} </span></p>
      <p>{% for item in location %}
    <span class="color-primary">{{ item }} </span><br>
    {% endfor %}</p>
    {% if maps %}
    <a href="{{ maps }}" target="_blank" class="button button--secondary"> View on Google Maps
    </a>
    {% endif %}
      <p>{{summary}}</p>
         {{ content | safe }}
          <div class="cluster">
      <div class="cluster-inner">
        {% for item in button %}
            <a href="{{ item.url }}" class="button">{{ item.text }}</a>
             {% endfor %}
            <a href="/events" class="button button--secondary"> Go Back
                <span class="sr-only">Go back to all Events</span>
            </a>
      </div>
    </div>

   
</div>
  </div>
  
</section>

{% endblock %}
