{% extends "layouts/base.html" %} {% block content %}
<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-400">
      <h2>{{title}}</h2>
      {{ content | safe }}
    </div>
  </div>
</section>

<section class="workstreams">
  <div
    class="double-grid-switcher"
    style="--dgs-threshold-m: 40rem; --dgs-column-count-l: 2; gap: 2rem"
  >
    {% for item in collections.projects %} {% include
    "partials/project-teaser.html" %} {% endfor %}
  </div>
</section>

{% endblock %}
