footer {
  padding: get-size("350");
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 5rem;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  text-align: left;

  a:focus {
    border: 2px dashed get-color("secondary");
    padding: get-size("200");
  }

  .nav-icons {
    > ul {
      display: flex;

      > * + * {
        margin-left: 1rem;
      }
    }

    ul {
      list-style-type: none;
    }
    svg {
      color: get-color("black");
      height: 1.5rem;
      width: 1.5rem;

      &:hover {
        color: get-color("primary");
      }
    }
  }
  @include media-query("md") {
    // margin-top: 25vh;
    text-align: right;
    flex-direction: row;
    justify-content: space-between;

    .nav-icons {
      display: none;
    }
  }
}
