.main-nav {
  margin-left: 0;
  font-weight: bold;

  &__list {
    min-width: 100%;
  }
  ul {
    list-style-type: none;
    display: flex;

    max-width: max-content;
    justify-content: space-between;

    > * {
      margin-top: get-size("500");
    }

    li:hover a {
      text-decoration: 2px get-color("primary") underline;
    }
    a:focus {
      outline: 2px dashed get-color("primary");
      outline-offset: get-size("200");
    }

    a[aria-current="page"],
    a[data-state="active"] {
      text-decoration: 2px get-color("primary") underline;
    }
  }

  //in mobile version the svg-icons will be displayed in the footer
  .nav-icons {
    svg {
      display: none;
    }
  }

  @include media-query("md") {
    margin-left: 5.625rem;

    ul {
      display: block;
      > * + * {
        margin-top: get-size("500");
      }
    }

    .nav-icons {
      max-width: max-content;
      display: flex;
      border-top: 1px solid white;
      justify-content: flex-start;

      > * + * {
        margin-left: 0.5rem;
      }

      svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        color: white;

        &:hover {
          color: get-color("primary");
        }
      }
    }
  }

  @include media-query("lg") {
    margin-left: 5.625rem;

    .nav-icons {
      display: flex;

      > * + * {
        margin-left: 1rem;
      }
    }
  }

  @include media-query("xl") {
    // plus 5rem
    margin-left: 10.625rem;
  }
}
