.main-nav {
  margin-left: 0;
  font-weight: bold;

  &__list {
    min-width: 100%;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: get-size("500");
    gap: 0.75rem 1rem;
    max-width: max-content;

    li:hover a {
      border-bottom: 2px solid get-color("primary");
    }
    a:focus {
      outline: 2px dashed get-color("primary");
      outline-offset: get-size("200");
    }

    a[aria-current="page"],
    a[data-state="active"] {
      border-bottom: 2px solid get-color("primary");
    }
  }

  //in mobile version the svg-icons will be displayed in the footer
  .nav-icons {
    svg {
      display: none;
    }
  }

  @include media-query("md") {
    margin-left: 5.625rem;

    .main-nav__list {
      display: block;

      & > * + * {
        margin-top: get-size("500");
      }
    }

    .nav-icons {
      max-width: max-content;
      display: flex;
      align-items: center;
      border-top: 1px solid white;
      justify-content: flex-start;
      gap: 1rem;
      padding-top: get-size("500");

      svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        color: white;

        &:hover {
          color: get-color("primary");
        }
      }
    }
  }

  @include media-query("lg") {
    margin-left: 5.625rem;
  }

  @include media-query("xl") {
    // plus 5rem
    margin-left: 10.625rem;
  }
}
