.polaroid {
  background: get-color("white");
  padding: get-size("300");
  box-shadow: 0 0 30px rgba((get-color("black")), 0.2),
    0 2px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 500px;
  min-height: 100%;

  transition: box-shadow 0.4s ease-out, z-index 0s 0.4s linear;
  position: relative;
  z-index: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  figcaption {
    padding: 0.25em;
    position: relative;

    &::before {
      content: "—";
      position: absolute;
      color: get-color("primary");
      font-weight: bold;
    }
    span {
      padding-left: get-size("500");
      display: block;
    }
  }

  &--logo img {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
  }

  &--linked {
    &:hover,
    &:focus-within {
      box-shadow: 0 0 70px rgba(0, 0, 0, 0.8), 0 8px 6px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.4s ease-out, z-index 0s 0s linear;
      z-index: 2;
    }
  }

  a:focus-visible img {
    outline: 2px dashed get-color("black");
    outline-offset: 15px;
  }
}
