.projects {
    .project-teaser {
      --clip-width: 3.125rem;
      --hover-color: #{get-color("secondary")};
      position: relative;
      padding: get-size("650");
      border: 5px solid get-color("primary");
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
      clip-path: polygon(
        0 var(--clip-width),
        0 100%,
        100% 100%,
        100% 0,
        var(--clip-width) 0
      );
  
      &::before {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: calc(var(--clip-width) + 8px) calc(var(--clip-width) + 8px)
          0 0;
        border-color: var(--hover-color) transparent transparent transparent;
        left: -5px;
        top: -5px;
        position: absolute;
      }
  
      &:hover {
        border-color: var(--hover-color);
        z-index: 999;
  
        .button {
          background-color: get-color("secondary");
          color: white;
        }
  
        &::before {
          content: "";
        }
      }
  
      &__text {
        margin-bottom: get-size("400");
      }
  
      &__image {
        position: absolute;
        right: get-size("650");
        bottom: get-size("650");
        width: 3rem;
      }
  
      &__link {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
    .button {
      margin-top: auto;
    }
  }