---
title: "Documents"
metaDesc: "Here you find all important public documents related to the Open-Source Firmware Foundation:"
layout: "layouts/content.html"
bigLogo: false
---

<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-400">
      <h2>{{ title }}</h2>
      <p>{{ metaDesc }}</p>
      <div class="cluster">
        <div class="cluster-inner">
          <a
          href="/documents/Articles.pdf"
          download="Open-Source-Firmware-Foundation-Articles-of-Incorporation.pdf"
          class="button"
        >
          Articles of Incorporation
        </a>
          <a
          href="/documents/ByLaws.pdf"
          download="Open-Source-Firmware-Foundation-ByLaws.pdf"
          class="button"
        >
          ByLaws
        </a>
          <a
          href="/documents/CodeOfConduct.pdf"
          download="Open-Source-Firmware-Foundation-Code-of-Conduct.pdf"
          class="button"
        >
          Code of Conduct
        </a>
          <a
          href="/documents/AntiTrustPolicyAndIPRPolicy.pdf"
          download="Open-Source-Firmware-Foundation-AntiTrust-and-IPR-Policy.pdf"
          class="button"
        >
          Antitrust & IPR Policy
        </a>
        </div>
      </div>
    </div>
  </div>
</section>