---
title: "Feature-Request-Flow"
layout: "layouts/content.html"
bigLogo: false
---

<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-400">
      <h2>{{title}}</h2>
      <p>Open-source projects are essential in modern software ecosystems, but as they grow, integrating business needs 
      can become challenging. To ensure timely development of new features, we've created the <b>Feature Request & Implementation</b> 
      Process. This process enables businesses, developers, and the community to collaborate on feature requests with 
      well-defined roles and timelines. It's designed to complement existing workflows and facilitate a seamless transition 
      from idea to implementation.</p>
      
      <h3>Motivation</h3>
      <p>This process bridges the gap between community-driven open-source projects and business requirements. By creating
      a clear structure for feature requests, businesses can contribute to projects without fragmentation, ensuring the
      longevity and sustainability of open-source communities.</p>

      <h3>Process Overview </h3>
      <p>The process is divided into three phases, each designed to help businesses and the community work together:</p>
      <ul>
        <li>Request Phase</li>
        <li>Implementation Phase</li>
        <li>Finalization Phase</li>
      </ul>
      <p>The following picture illustrates the whole Feature Request Flow</p>
      <picture>
        <source srcset="../images/feature-request-flow/feature-request-flow.webp" type="image/webp"/>
        <img src="../images/feature-request-flow/feature-request-flow.png" alt="Portrait of OSFF Feature Request Flow"/>
      </picture>
      <h4>Request Phase</h4>
      <p>In this phase, the <b>Feature Requester</b> submits their feature idea to the open-source project or the Open Source 
      Firmware Foundation (OSFF). Together, the requester and the community create a <b>Feature Design Document</b> that outlines
      the scope, timeline, and design of the feature.</p>
      <h4>Implementation Phase</h4>
      <p>After the feature request is approved, the <b>Implementation Team</b> takes over. This team, formed from the community, 
      OSFF, or the feature requester, develops the feature following the agreed-upon design. The focus is on ensuring code 
      quality, testing, and alignment with the overall project goals.</p>
      <h4>Finalization Phase</h4>
      <p>The final step is ensuring the feature is ready for upstream integration and is well-documented. If the feature was 
      developed upstream from the start, this phase is simpler. Otherwise, the code is reviewed by the community before 
      it becomes part of the project.</p>

      <h3>How to Get Started</h3>
      <p>If you're interested in requesting a feature for an open-source project or have questions about the process,
      the Open Source Firmware Foundation (OSFF) is here to help. We can facilitate discussions and ensure a smooth
      workflow between all parties involved. Reach out to us via <a href="mailto:feature-request@osfw.foundation" 
      class="inline-link color-primary">feature-request@osfw.foundation</a>.</p>

      <h3>Resources</h3>
      <a href="https://osfw.foundation/workstreams/feature-request-flow" class="button">
      Feature Request Flow Workstream</a>
      

    </div>
  </div>
</section>
