---
title: "Governance"
metaDesc: "Here you find all important public documents related to the Open-Source Firmware Foundation:"
layout: "layouts/content.html"
bigLogo: false
---

<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-400">
      <h2>{{ title }}</h2>
      <p>{{ metaDesc }}</p>
      <div class="cluster">
        <div class="cluster-inner">
          <a
          href="https://drive.google.com/drive/folders/1-AlOc9DR4IVU6Tds4gr66qYDxsIkoFXA?usp=sharing"
          class="button"
          target="_blank"
          >
          Board Meeting Minutes
        </a>
        <a
          href="/documents/Charter.pdf"
          download="Open-Source-Firmware-Foundation-Charter.pdf"
          class="button"
        >
          Charter
        </a>
        <a
          href="/documents/Articles.pdf"
          download="Open-Source-Firmware-Foundation-Articles-of-Incorporation.pdf"
          class="button"
        >
          Articles of Incorporation
        </a>
          <a
          href="/documents/ByLaws.pdf"
          download="Open-Source-Firmware-Foundation-ByLaws.pdf"
          class="button"
        >
          ByLaws
        </a>
          <a
          href="/documents/CodeOfConduct.pdf"
          download="Open-Source-Firmware-Foundation-Code-of-Conduct.pdf"
          class="button"
        >
          Code of Conduct
        </a>
          <a
          href="/documents/AntitrustPolicy.pdf"
          download="Open-Source-Firmware-Foundation-AntiTrust-Policy.pdf"
          class="button"
        >
          Antitrust Policy
        </a>
        <a
          href="/documents/IPRPolicy.pdf"
          download="Open-Source-Firmware-Foundation-IPR-Policy.pdf"
          class="button"
        >
          IPR Policy
        </a>
        </div>
      </div>
    </div>
  </div>
</section>