---
title: "Imprint"
layout: "layouts/content.html"
bigLogo: false
---

<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-200">
      <h2>Imprint</h2>
      <p>
        <strong>Angaben gemäß § 5 TMG:</strong>
        <br/>
        9elements GmbH
        <br/>
        Kortumstraße 19-21
        <br/>
        44787 Bochum
      </p>
    </div>
  </div>
</section>
<section class="panel">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-200">
      <h3>Vertreten durch:</h3>
      <p>
        Philipp Deppenwiese
        <br/>
        George Nierhauve
        <br/>
        Christian Walter
      </p>
      <h3>Kontakt</h3>
      <p>
        Telefon: 012345689
        <br/>
        Telefon: 012345689
        <br/>
        Email: contact@9elements.com
      </p>
      <h3>Registereintrag</h3>
      <p>
        Eintragung im Handelsregister. Registergericht: Amtsgericht Bochum
        <br/>
        Registernummer: HRB 17519
      </p>

      <h3>Umsatzsteuer: ID</h3>
      <p>
        Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
        <br/>
        DE 123 456 789
      </p>
    </div>
  </div>
</section>
<section class="panel | bg-primary pd-700">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-200">
      <h3 class="plain-html--on-primary">Haftungsausschluss:</h3>
      <h4 class="plain-html--on-primary">Haftung für Inhalte</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sunt
        nam aspernatur eos cum fuga perspiciatis magni deserunt, maiores illum
        iste soluta voluptas perferendis unde sint deleniti dolorem adipisci
        consectetur.
      </p>
      <h4 class="plain-html--on-primary">Haftung für Links</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        dolorum aspernatur recusandae, ab ipsa necessitatibus accusamus quaerat
        aliquam cum perferendis eius? Quos nostrum alias consequuntur inventore
        nemo accusantium corporis qui officia sint amet sed, suscipit provident
        quia! Quas, culpa? A iusto recusandae dolorum fuga asperiores est dolor
        nam sint debitis. Pariatur ullam quod vero nam corrupti debitis nemo
        velit. Repudiandae!
      </p>
      <h4 class="plain-html--on-primary">Urheberrecht</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
        laudantium deleniti harum quidem, similique sunt voluptate, blanditiis
        pariatur nemo corrupti atque rerum nulla eveniet libero sed architecto
        tenetur consectetur hic quo, facilis accusantium odit nesciunt. Odit
        consectetur nam quas tempora!
      </p>
    </div>
  </div>
</section>