---
title: "Media"
metaDesc: "Here you will be able to download the entire logo selection of the foundation."
layout: "layouts/content.html"
bigLogo: false
---

<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-400">
      <h2>{{title}}</h2>
      <p>{{ metaDesc }}</p>
      <div class="cluster">
        <div class="cluster-inner">
          <a href="/images/mediakit/osff_logo.zip" download="osff_logos.zip" class="button">
              OSFF-Logos <span class="text-350">ZIP-5.8 MB</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>