---
title: "Open-Source Firmware Projects"
layout: "layouts/content.html"
bigLogo: false
---

<section class="panel | bg-white">
  <div class="panel__content">
    <div class="plain-html | flow flow-space-400">
      <h2>{{title}}</h2>
      <p class="text-500 lg:text-600">
        We are here to support open-source firmware projects. If you are
        interested in joining the Open-Source Firmware Foundation, feel free to
        contact us via
        <a
          href="mailto:contact@osfw.foundation"
          class="inline-link color-primary"
          >contact@osfw.foundation </a
        >.
      </p>
      <section class="panel">
        <div class="panel__content | flow flow-space-600">
          <div class="wrapper">
            <ul class="auto-grid">
              <li>
                <figure class="polaroid polaroid--linked polaroid--logo | br-m">
                  <a target="_blank" href="https://www.coreboot.org/">
                    <div class="aspect-ratio-square">
                      <img
                        src="../images/projects/coreboot.svg"
                        alt="logo of the coreboot projects"
/>
                    </div>
                  </a>
                </figure>
              </li>
              <li>
                <figure class="polaroid polaroid--linked polaroid--logo | br-m">
                  <a target="_blank" href="https://www.linuxboot.org/">
                    <div class="aspect-ratio-square">
                      <img
                        src="../images/projects/linuxboot.svg"
                        alt="logo of the linuxboot project"
/>
                    </div>
                  </a>
                </figure>
              </li>
              <li>
                <figure class="polaroid polaroid--linked polaroid--logo | br-m">
                  <a
                    target="_blank"
                    href="https://github.com/9elements/converged-security-suite"
                  >
                    <div class="aspect-ratio-square">
                      <img
                        src="../images/projects/css.svg"
                        alt="logo of the converged-security-suite project"
/>
                    </div>
                  </a>
                </figure>
              </li>
              <li>
                <figure class="polaroid polaroid--linked polaroid--logo | br-m">
                  <a target="_blank" href="https://u-bmc.org/">
                    <div class="aspect-ratio-square">
                      <img
                        src="../images/projects/u-bmc.svg"
                        alt="logo of the u-bmc project"
/>
                    </div>
                  </a>
                </figure>
              </li>
              <li>
                <figure class="polaroid polaroid--linked polaroid--logo | br-m">
                  <a
                    target="_blank"
                    href="https://github.com/open-source-firmware/go-tcg-storage"
                  >
                    <div class="aspect-ratio-square">
                      <img
                        src="../images/projects/oscar.svg"
                        alt="no logo yet :)"
/>
                    </div>
                  </a>
                </figure>
              </li>
              <li></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>