/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$gorko-base-size: 1rem;

/**
   * SIZE SCALE
   * This is a Major Third scale that powers all the utilities that
   * it is relevant for (font-size, margin, padding). All items are
   * calcuated off the base size, so change that and cascade across
   * your whole project.
   */
$gorko-size-scale: (
  "200": $gorko-base-size * 0.25,
  // 4px
  "300": $gorko-base-size * 0.5,
  // 8px
  "350": $gorko-base-size * 0.875,
  // 14px
  "400": $gorko-base-size,
  // 16px
  "500": $gorko-base-size * 1.125,
  // 18px
  "550": $gorko-base-size * 1.5,
  // 24px
  "600": $gorko-base-size * 1.75,
  // 28px
  "650": $gorko-base-size * 2,
  // 32px
  "700": $gorko-base-size * 3.5,
  // 56px
  "800": $gorko-base-size * 4.5,
  // 72px
);

/**
   * COLORS
   * Colors are shared between backgrounds and text by default.
   * You can also use them to power borders, fills or shadows, for example.
   */
$gorko-colors: (
  "black": #000,
  "white": #fff,
  "light-gray": #f3f3f3,
  "primary": #f96360,
  "secondary": #4f51a9,
);

$gorko-border-radii: (
  "s": $gorko-base-size * 0.25,
  "m": $gorko-base-size * 0.375,
  "l": $gorko-base-size * 0.5,
  "xl": $gorko-base-size * 5,
  "full": 50%,
);

/**
   * CORE CONFIG
   * This powers everything from utility class generation to breakpoints
   * to enabling/disabling pre-built components/utilities.
   */
$gorko-config: (
  "bg": (
    "items": $gorko-colors,
    "output": "standard",
    "property": "background",
  ),
  "br": (
    "items": $gorko-border-radii,
    "output": "standard",
    "property": "border-radius",
  ),
  "pd": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "padding",
  ),
  "color": (
    "items": $gorko-colors,
    "output": "standard",
    "property": "color",
  ),
  "flow-space": (
    "items": $gorko-size-scale,
    "output": "responsive",
    "property": "--flow-space",
  ),
  "font": (
    "items": (
      "base": '"Roboto", sans-serif;',
      "head": '"Egon"',
    ),
    "output": "standard",
    "property": "font-family",
  ),
  "leading": (
    "items": (
      "tight": 1.25,
      "flat": 1,
    ),
    "output": "standard",
    "property": "line-height",
  ),
  "text": (
    "items": $gorko-size-scale,
    "output": "responsive",
    "property": "font-size",
  ),
  "weight": (
    "items": (
      "regular": "400",
      "bold": "700",
      "black": "900",
    ),
    "output": "standard",
    "property": "font-weight",
  ),
  "breakpoints": (
    "md": "(min-width: 52em)",
    // ab landscape modus iPad
    "lg": "(min-width: 65em)",
    "xl": "(min-width: 120em)",
  ),
);
