@font-face {
  font-family: "Egon";
  font-weight: 900;
  src: url("../fonts/EgonSansBlack.otf");
}
@font-face {
  font-family: "Egon";
  font-weight: 700;
  src: url("../fonts/EgonSans-Bold.otf");
}

// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
