<footer aria-label="Legal Information" class="text-350 md:text-400">
  <span>© Open Source Firmware Foundation - All rights reserved.</span>
  {# <a href="/imprint" class="color-black uppercase">Imprint</a> #}
  <div class="nav-icons">
    <a
      target="_blank"
      href="https://www.linkedin.com/company/osff/?viewAsMember=true"
      class="icon-link"
    >
      <svg class="icon" aria-hidden="true" focusable="false">
        <use xlink:href="/icons/icons.svg#linkedin" />
      </svg>
      <span class="sr-only">LinkedIn</span>
    </a>

    <a
      target="_blank"
      href="https://twitter.com/osfw_foundation"
      class="icon-link"
    >
      <svg class="icon" aria-hidden="true" focusable="false">
        <use xlink:href="/icons/icons.svg#twitter" />
      </svg>
      <span class="sr-only">Twitter</span>
    </a>

    <a target="_blank" href="https://slack.osfw.dev/" class="icon-link">
      <svg class="icon" aria-hidden="true" focusable="false">
        <use xlink:href="/icons/icons.svg#slack" />
      </svg>
      <span class="sr-only">Slack</span>
    </a>
  </div>
</footer>
