<div class="logo" id="logo">
  <h1>
    <a href="/">
      <img src="/images/OSFF_Logo.svg" alt="Open Source Firmware Foundation" />
    </a>
  </h1>
</div>
<header role="banner" class="header">
  <nav class="main-nav flow" aria-label="main">
    <ul class="main-nav__list">
      {% for item in navigation.items %}
      <li>
        <a
          href="{{ item.url}}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          class="text-400 md:text-500 color-white uppercase"
        >
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <ul class="nav-icons">
      <a
        target="_blank"
        href="https://www.linkedin.com/company/osff/?viewAsMember=true"
        class="icon-link"
      >
        <svg class="icon" aria-hidden="true" focusable="false">
          <use xlink:href="/icons/icons.svg#linkedin" />
        </svg>
        <span class="sr-only">OSF Foundation on LinkedIn</span>
      </a>

      <a
        target="_blank"
        href="https://twitter.com/osfw_foundation"
        class="icon-link"
      >
        <svg class="icon" aria-hidden="true" focusable="false">
          <use xlink:href="/icons/icons.svg#twitter" />
        </svg>
        <span class="sr-only">Follow us on Twitter</span>
      </a>

      <a target="_blank" href="https://slack.osfw.dev/" class="icon-link">
        <svg class="icon" aria-hidden="true" focusable="false">
          <use xlink:href="/icons/icons.svg#slack" />
        </svg>
        <span class="sr-only">Join our Slack Channel</span>
      </a>

      <a target="_blank" rel="me" href="https://fosstodon.org/@osff" class="icon-link">
        <svg class="icon" aria-hidden="true" focusable="false">
          <use xlink:href="/icons/icons.svg#mastodon" />
        </svg>
        <span class="sr-only">Follow us on Mastodon</span>
      </a>
    </ul>
  </nav>
</header>
